<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GameUno.Properties.Settings.ConnectionString" connectionString="server=rc1a-y3slictcc572bhzi.mdb.yandexcloud.net;user=player1;port=3306;password=rootroot;database=uno;SslMode=Preferred;SslCa=C:\\Users\\mev43\\.mysql\\root.crt;" />
    </connectionStrings>
</configuration>